<div>

    <app-discount></app-discount>

    <app-buy-now></app-buy-now>

    <app-order></app-order>

    <!-- Directive -->
    <app-sales></app-sales>
    
    <!-- Template Reference Variable -->
    <app-location></app-location>

    <!-- @Input like props in React(Parents -> Child) -->
    <app-slogan slogan="Odai" color="green"></app-slogan>
    <app-slogan slogan="Hallo Bitchezzz!!!" color="yellow"></app-slogan>

    <!-- Lifecycle Hook -->
    <app-clock></app-clock>

    <app-tip (tipSelected)=displayTip($event)></app-tip>
    <!-- Events From Child -> Parent -->
    <span class="box">Tip to Send: {{tipValue}} </span>

    <!-- Services -->
    <app-pricing></app-pricing>

    <app-color (colorSelected)=displayColor($event)></app-color>
    <span class="box">Color Selected = {{colorSelected}}</span>
</div>

